<div class="container">
  <div class="header clearfix">
    <h3>PwnedPasswords</h3>
  </div>

  <div class="jumbotron">
    <h1 class="display-3">Check your password</h1>
    <p class="lead">
      Check if your password has been compromised in any data breach!
    </p>
    <password></password>
    <p>
      <a
        class="btn btn-lg btn-success"
        href="https://haveibeenpwned.com/"
        role="button"
      >
        Learn more
      </a>
    </p>
  </div>

  <footer class="footer">
    <p>Created by <a href="https://github.com/amscotti">Anthony Scotti</a></p>
  </footer>
</div>
